* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    background-color: aqua;
}

#sidebar {
    width: 10%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}
#mainContainer {
    flex-grow: 1;
    padding: 2em;
}

#submission {
    position: fixed;
    top:100vh;
    left: 40vw;
    height: 40%;
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(5px);
    padding: 2em;
    border-radius: 1em;
   
}
#submission fieldSet {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-style: none;
}

#cardContainer {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    width: 16em;
    height: 26em;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;

}

.card h2 {
    margin: 0;
    background-color: brown;
    padding: 1em 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.card p {
    font-size: 1em;
    padding:0.1em 1em ;
}

.card button {
    padding: 1em;
}